body {
    margin: auto 0;
}
.icons {
    display: flex;
    list-style: none;
    justify-content: end;
    padding-right: 500px;
    /* margin-top: 20px; */
    /* transition: all 0.3s linear; */
}

.icon {
    margin: 0;
    padding: 15px 2px;
    width: 55%;
}



.effect {
    display: flex; 
    
    a {
      text-decoration: none !important;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $border-radius;
      margin-right: 20px;
      font-size: $font-size;
      overflow: hidden;
      position: relative;
      color: $basic-dark-color; //or change to your own color
      border: 2px solid $basic-dark-color; //or change to your own color
      
      i {
        position: relative;
        z-index: 3;
      }
      
      &:last-child {
        margin-right: 0px;
      }
      
      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      
      i {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }



  .effect.varrius {
  
    a {
      transition: all 0.2s linear 0s;
      
      &:after {
        content: "";
        display: block;
        width: 90%;
        height: 90%;
        top: -110%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        background-color: $basic-dark-color;
        border-radius: $border-radius;
      }
      
      &:hover {
        color: $basic-light-color;
        
        &:after {
          top: 5%;
          transition: all 0.2s linear 0s;
        }
      }
    }
  }
  




.zone {
    /*padding:30px 50px;
    margin:40px 60px;*/
    cursor:pointer;
    /*display:inline-block;*/
    color:white;
    font-size:2em;
    border-radius:4px;
    /* border:1px solid #f5f5f6; */
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*NAV*/

.sticky {
    position: sticky;
    width: auto;
    top: 0;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.6em;
    margin: 0;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* text-transform: uppercase; */
    
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
    padding-right: 50px;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #f5f5f6;
}

/*CONTAINER*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

/*GRID*/

.grid-wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    
}

.box > img {
    width: 100%;
    height: 100%;
}

.box {
    background-color: #F5F5F5;
    /* padding: 150px; */
    margin: 10px;
}
.text {
    margin: 100px;
    color: #3C362A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* display: flex; */
}

footer {
    text-align: center;
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #819BB1;
    padding: 0 450px;
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: white;
    height: auto;
    padding: 0;
    margin: -80px 0 -25px 0;
}

.red > img {
    width: 25%;
}
/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #F5F5F5;
    padding: 35px 450px 75px;
    
}
