body {
    margin: auto 0;
}
.icons {
    display: flex;
    list-style: none;
    justify-content: end;
    /* padding-right: 200px; */
    
    /* transition: all 0.3s linear; */
}

ul.icons {
    margin: 0;
    padding: 0 300px 0 0;

}

/* .li > img.icon {
 padding: 0;
} */

/* .icons:hover {
    -webkit-img-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-img-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-img-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    img-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */

.zone {
    /*padding:30px 50px;
    margin:40px 60px;*/
    cursor:pointer;
    /*display:inline-block;*/
    color:white;
    font-size:2em;
    border-radius:4px;
    /* border:1px solid #f5f5f6; */
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*NAV*/

.sticky {
    position: sticky;
    width: auto;
    top: 0;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.6em;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* text-transform: uppercase; */
    
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
    padding-right: 50px;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #f5f5f6;
}

/*CONTAINER*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    
}

/*GRID*/

.grid-wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    
}

.box > img {
    width: 100%;
    height: 100%;
}

.box {
    background-color: #F5F5F5;
    /* padding: 150px; */
    margin: 50px;
}
.text {
    margin: 100px;
    color: #3C362A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* display: flex; */
}

footer {
    text-align: center;
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #819BB1;
    padding: 0 300px;
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: white;
    height: auto;
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #F5F5F5;
    padding: 50px 300px;
}
